$blue: #3d41d7;
$font-grey: #d3d3fd;
$grey: #fff4f2;
//breakpoint
$md1: 320px;

.wrapper {
	///
	height: 3000px;
	///
	position: relative;
	font-family: DM Sans, sans-serif;
	max-width: 1440px;
	margin: 0 auto;
	// background-color: #ececfc; //Пока чисто для прикола
	// box-shadow: 0 0 30px #d3d3ff;
	// border-radius: 15px;
}
.--active {
	@media (max-width: $md1) {
		display: block;
		margin: 0;
	}
}
aside {
	@media (max-width: $md1) {
		display: none;
		margin: 0;
	}
	p {
		color: $font-grey;
		font-weight: 500;
	}
	display: inline-block;
	position: fixed;
	z-index: 5;
	margin: 30px 60px 0 30px;
	width: 294px;
}
.--notify {
	//количество новых уведомлений
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: white;
	p {
		display: block;
		margin: auto;
		font-size: 10px;
		font-weight: 700;
	}
}
.aside {
	@media (max-width: $md1) {
		&_close {
			position: absolute;
			left: 10px;
			top: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 40px;
			width: 40px;
			span {
				cursor: pointer;
				margin-bottom: 35px;
				width: 40px;
				height: 5px;
				background-color: white;
			}
			span:first-child {
				margin-bottom: 0;
				transform: translate(0, 17.5px) rotate(-45deg);
			}
			span:last-child {
				margin-bottom: 0;
				transform: translate(0, -17.5px) rotate(45deg);
			}
		}
	}
	&_inner {
		//Класс внутри aside
		@media (max-width: $md1) {
			border-radius: 0 20px 20px 0;
			overflow: auto;
		}
		z-index: 5;
		overflow: hidden;
		position: relative;

		margin-bottom: 50px;
		background-color: $blue;
		border-radius: 20px;
		box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);

		.logo {
			//Лого вверху side  бара
			display: flex;
			a {
				display: block;
				margin: 42px auto;
			}
		}
	}
	&_imgHolder {
		display: inline-block;
		width: 24px;
		margin-right: 16px;
	}

	&_item {
		@media (max-width: $md1) {
			//ПОДУМАТЬ про эффект при наведении
			&:hover::before {
				opacity: 0;
			}
		}

		position: relative; //Для того, чтобы указать z-index, иначе градиент перекрывает
		padding-left: 24px;
		z-index: 7;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		//Появление плашки справа при наведении
		&::before {
			position: absolute;
			opacity: 0;

			-webkit-transition: opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease;
			-ms-transition: opacity 0.5s ease;
			-o-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease-out;

			left: 0px;
			z-index: 3;
			content: "";
			width: 3px;
			height: 32px;
			background: #d3d3fd;
			border-radius: 0px 100px 100px 0px;
		}
		&:hover::before {
			opacity: 1;
		}

		p {
			display: inline-block;
			width: 138px;
		}

		.--notify {
			//Конкретно для messages
			background-color: #de350b;
			display: flex;
			p {
				display: block;
				width: auto;
			}
		}
	}

	&_team {
		margin-bottom: 33px;
	}
	&_teamTitle {
		padding-left: 24px;
		margin-top: 48px;
	}

	&_upgrade {
		//Раздел upgrade в конце sidebar
		z-index: 7;
		position: relative;
		&Pic {
			display: flex;
			a {
				display: block;
				margin: 0 auto;
			}
		}
		&Text {
			display: flex;

			p {
				display: block;
				margin: 24px auto;
				font-size: 16px;
				color: white;
				line-height: 22px;
				font-weight: 400;
				text-align: center;
			}
			span {
				//Жирное начертание для "PRO"
				font-weight: 700;
			}
		}
		&Button {
			display: flex;
			button {
				display: block;
				margin: 0 auto 34px;
				background: #ffffff;
				border-radius: 16px;
				height: 40px;
				width: 154px;
				border: none;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				letter-spacing: -0.2px;
				color: #323484;
				font-weight: 700;
			}
		}
	}
	&_gradient {
		//Градиент внизу сайдбара
		z-index: 6;
		position: absolute;
		left: 0px;
		top: 75%;
		height: 500px;
		width: 100%;
		background: rgb(30, 30, 139);
		background: radial-gradient(
			circle,
			rgba(30, 30, 139, 1) 0%,
			rgba(44, 46, 184, 1) 44%,
			rgba(61, 65, 215, 1) 89%
		);
	}
}

//Все что находится вне сайдбара
.content {
	max-width: 1015px;
	position: absolute;
	left: 370px;
	@media (max-width: $md1) {
		position: static;
	}
	header {
		//ОПА, ПОШЕЛ MOBILE FIRST (засунуть в медиа запрос)
		@media (max-width: $md1) {
			position: fixed;
			width: 100%;
			z-index: 1;
			top: 0;
			padding: 3px 10px 0px;
			margin: 0;
			height: 55px;

			border-bottom: 2px solid $blue;
			box-shadow: 0px 15px 30px rgba(34, 36, 169, 0.267);
			background-color: #a9acff;
		}
		height: 70px;
		margin: 63px 10px 0px;

		position: static;
	}
	.header {
		&_inner {
			display: flex;
			justify-content: space-between;
		}
		&_menu {
			@media (max-width: $md1) {
				display: flex;
				flex-direction: column;
			}
			display: none;
			padding-top: 7px; //!!!!!!!!КОСТЫЛЬ
			margin: auto 0px;
			height: 40px;
			width: 40px;

			span {
				cursor: pointer;
				margin-bottom: 5px;
				width: 40px;
				height: 5px;
				background-color: black;
			}
		}
		&_dislocation {
			//Текст с названием страницы, на которой мы находимся
			@media (max-width: $md1) {
				display: block;
			}
			display: none;
			text-align: center;
			margin: 0 auto;
			font-weight: 700;
		}
		//Левая часть header
		&_greetings {
			@media (max-width: $md1) {
				display: none;
			}
		}
		&_userHello {
			p {
				display: inline;
			}
			font-size: 15px;
			font-weight: 400;
			color: #8f92a1;
		}
		&_userInfo {
			padding-top: 5px;
			p {
				display: inline;
			}
			font-weight: 600;
			font-size: 35px;
			line-height: 43px;
			letter-spacing: -0.06em;
			color: #272835;
		}
		//Правая часть HEADER
		&_actions {
			display: flex;
			align-items: center;
		}
		&_icons {
			@media (max-width: $md1) {
				display: none;
			}
			display: flex;
			align-items: center;
		}
		&_bell {
			padding-right: 40px;
			position: relative;
			.--notify {
				display: flex;
				position: absolute;
				top: -5px;
				left: 5px;

				background-color: $blue;
				p {
					color: white;
				}
			}
		}
		&_settings {
			padding-right: 40px;
		}
		&_avatar {
			img {
				height: 48px;
				width: 48px;
			}
		}
	}
	.main {
		//ОПА, ПОШЕЛ MOBILE FIRST
		padding-top: 67px; //НЕ МЕНЯТЬ НА MARGIN!

		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			//max-width: ;??
			&_name {
				padding: 50px 0 10px 15px;
				width: 100%;
				font-weight: bold;
				font-size: 24px;
				line-height: 30px;
				color: #272835;
			}
			.--bggrey {
				background-color: $grey;
				border-radius: 20px;
			}
			&_card {
				@media (max-width: $md1) {
					margin: 20px auto;
				}
				width: 302px;
				height: 331px;
				margin: 20px 10px 20px 0;
			}
			&_imageUpd {
				display: flex;
				img {
					display: block;
					margin: 20px auto 0;
				}
			}

			&_bottombox {
				display: flex;
				justify-content: space-between;
				padding: 54px 20px 0;
				align-items: center;
			}
			&_title1 {
				font-size: 20px;
				line-height: 25px;
				padding-bottom: 7px;
				letter-spacing: -0.04em;
				color: #000000;
			}
			&_subtitle {
				font-size: 12px;
				line-height: 15px;
				letter-spacing: -0.06em;
				color: #8f92a1;
			}
			&_plusbutt {
				background: transparent;

				img {
					border-radius: 10px;
					display: block;
					box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
				}
			}
			//1.2.1
			&_graph {
				img {
					display: block;
					margin: 5px auto 0;
				}
			}
			&_subtitles {
				padding: 3px 19px 0px;
				display: flex;
				justify-content: space-between;
			}
			&_numberVisitors {
				font-size: 15px;
				font-weight: bold;
				line-height: 14px;
				color: #272835;
			}
			&_percentsGrowline {
				display: flex;
				align-items: center;
			}
			img.arrowup {
				margin: 0;

				display: inline-block;
			}
			&_percentsGrow {
				margin-left: 0px;
				color: #00875a;
				display: inline-block;
				font-weight: bold;
			}

			&_boxminicards {
				padding-top: 33px;
				display: flex;
				justify-content: space-between;
			}
			&_cardbox {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				margin: 18px;
			}

			//1.2.2
			&_playBut {
				img {
					display: block;
					margin: 12px 17px;
				}
				width: 42px;
				height: 42px;
				background: white;
				box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
				border-radius: 50%;
			}
			&_numbervideos {
				padding: 15px 0 8px 0;
				font-weight: bold;
				font-size: 17px;
				line-height: 14px;
				color: #272835;
			}
			&_videoPlayed {
				height: 138px;
				width: 138px;
			}

			//1.2.3
			&_numberPosts {
				font-weight: bold;
				font-size: 17px;
				line-height: 14px;
				color: white;
				margin: 26px 0 8px;
			}
			.--whitetext {
				color: white;
			}
			&_scheduledPosts {
				img {
					display: block;
					margin: 6px 0 0px;
				}
				height: 138px;
				width: 138px;

				border-radius: 20px;
				background-color: $blue;
				box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
			}

			//1.3
			.--bgwthr {
				background-image: url(/img/main/1.3_background.png);
				border-radius: 20px;
				position: relative;
			}
			&_textbox-weather {
				margin: 36px 0 0 36px;
				color: white;
			}
			&_title2 {
				font-weight: 400;
				font-size: 26px;
				line-height: 32px;
				letter-spacing: -0.06em;
			}
			&_subtitle2 {
				margin-top: 6px;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
			}
			&_degrees {
				font-size: 48px;
				line-height: 59px;
			}
			&_buttonbox {
				background: #ffffff;
				box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
				border-radius: 20px 0px 20px 20px;
				width: 90px;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				bottom: 7%;
				right: 7%;
			}

			//2.1
			.--activebut {
				background: #f6faff;
				border: 1px solid #b3b6da;
				box-sizing: border-box;
				border-radius: 40px;
			}
			&_buttonChoice {
				cursor: pointer;
				width: 130px;
				height: 40px;

				text-align: center;

				font-weight: 600;
				font-size: 14px;
				line-height: 12px;
				color: #8f92a1;
			}
			&_buttonChoiceMenu {
				padding: 10px 0 30px;
				display: flex;
				justify-content: space-between;
			}
			&_communityImg {
				display: inline-block;
				border-radius: 10px;
			}
			&_communityTextBox {
				display: inline-block;
				padding-left: 15px;
			}
			&_communityReviewBox {
				display: flex;
				align-items: center;
			}
			&_communityRow {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
			}
			&_communityRow:last-child {
				margin-bottom: 0;
			}
		}
	}
}
