.wrapper {
  height: 3000px;
  position: relative;
  font-family: DM Sans, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .--active {
    display: block;
    margin: 0;
  }
}

aside {
  display: inline-block;
  position: fixed;
  z-index: 5;
  margin: 30px 60px 0 30px;
  width: 294px;
}
@media (max-width: 320px) {
  aside {
    display: none;
    margin: 0;
  }
}
aside p {
  color: #d3d3fd;
  font-weight: 500;
}

.--notify {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
}
.--notify p {
  display: block;
  margin: auto;
  font-size: 10px;
  font-weight: 700;
}

@media (max-width: 320px) {
  .aside_close {
    position: absolute;
    left: 10px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    width: 40px;
  }
  .aside_close span {
    cursor: pointer;
    margin-bottom: 35px;
    width: 40px;
    height: 5px;
    background-color: white;
  }
  .aside_close span:first-child {
    margin-bottom: 0;
    -webkit-transform: translate(0, 17.5px) rotate(-45deg);
            transform: translate(0, 17.5px) rotate(-45deg);
  }
  .aside_close span:last-child {
    margin-bottom: 0;
    -webkit-transform: translate(0, -17.5px) rotate(45deg);
            transform: translate(0, -17.5px) rotate(45deg);
  }
}
.aside_inner {
  z-index: 5;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  background-color: #3d41d7;
  border-radius: 20px;
  -webkit-box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
          box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
}
@media (max-width: 320px) {
  .aside_inner {
    border-radius: 0 20px 20px 0;
    overflow: auto;
  }
}
.aside_inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside_inner .logo a {
  display: block;
  margin: 42px auto;
}
.aside_imgHolder {
  display: inline-block;
  width: 24px;
  margin-right: 16px;
}
.aside_item {
  position: relative;
  padding-left: 24px;
  z-index: 7;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 320px) {
  .aside_item:hover::before {
    opacity: 0;
  }
}
.aside_item::before {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  left: 0px;
  z-index: 3;
  content: "";
  width: 3px;
  height: 32px;
  background: #d3d3fd;
  border-radius: 0px 100px 100px 0px;
}
.aside_item:hover::before {
  opacity: 1;
}
.aside_item p {
  display: inline-block;
  width: 138px;
}
.aside_item .--notify {
  background-color: #de350b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside_item .--notify p {
  display: block;
  width: auto;
}
.aside_team {
  margin-bottom: 33px;
}
.aside_teamTitle {
  padding-left: 24px;
  margin-top: 48px;
}
.aside_upgrade {
  z-index: 7;
  position: relative;
}
.aside_upgradePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside_upgradePic a {
  display: block;
  margin: 0 auto;
}
.aside_upgradeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside_upgradeText p {
  display: block;
  margin: 24px auto;
  font-size: 16px;
  color: white;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.aside_upgradeText span {
  font-weight: 700;
}
.aside_upgradeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside_upgradeButton button {
  display: block;
  margin: 0 auto 34px;
  background: #ffffff;
  border-radius: 16px;
  height: 40px;
  width: 154px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #323484;
  font-weight: 700;
}
.aside_gradient {
  z-index: 6;
  position: absolute;
  left: 0px;
  top: 75%;
  height: 500px;
  width: 100%;
  background: #1e1e8b;
  background: radial-gradient(circle, #1e1e8b 0%, #2c2eb8 44%, #3d41d7 89%);
}

.content {
  max-width: 1015px;
  position: absolute;
  left: 370px;
}
@media (max-width: 320px) {
  .content {
    position: static;
  }
}
.content header {
  height: 70px;
  margin: 63px 10px 0px;
  position: static;
}
@media (max-width: 320px) {
  .content header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    padding: 3px 10px 0px;
    margin: 0;
    height: 55px;
    border-bottom: 2px solid #3d41d7;
    -webkit-box-shadow: 0px 15px 30px rgba(34, 36, 169, 0.267);
            box-shadow: 0px 15px 30px rgba(34, 36, 169, 0.267);
    background-color: #a9acff;
  }
}
.content .header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .header_menu {
  display: none;
  padding-top: 7px;
  margin: auto 0px;
  height: 40px;
  width: 40px;
}
@media (max-width: 320px) {
  .content .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content .header_menu span {
  cursor: pointer;
  margin-bottom: 5px;
  width: 40px;
  height: 5px;
  background-color: black;
}
.content .header_dislocation {
  display: none;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}
@media (max-width: 320px) {
  .content .header_dislocation {
    display: block;
  }
}
@media (max-width: 320px) {
  .content .header_greetings {
    display: none;
  }
}
.content .header_userHello {
  font-size: 15px;
  font-weight: 400;
  color: #8f92a1;
}
.content .header_userHello p {
  display: inline;
}
.content .header_userInfo {
  padding-top: 5px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: -0.06em;
  color: #272835;
}
.content .header_userInfo p {
  display: inline;
}
.content .header_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 320px) {
  .content .header_icons {
    display: none;
  }
}
.content .header_bell {
  padding-right: 40px;
  position: relative;
}
.content .header_bell .--notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -5px;
  left: 5px;
  background-color: #3d41d7;
}
.content .header_bell .--notify p {
  color: white;
}
.content .header_settings {
  padding-right: 40px;
}
.content .header_avatar img {
  height: 48px;
  width: 48px;
}
.content .main {
  padding-top: 67px;
}
.content .main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.content .main .row_name {
  padding: 50px 0 10px 15px;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #272835;
}
.content .main .row .--bggrey {
  background-color: #fff4f2;
  border-radius: 20px;
}
.content .main .row_card {
  width: 302px;
  height: 331px;
  margin: 20px 10px 20px 0;
}
@media (max-width: 320px) {
  .content .main .row_card {
    margin: 20px auto;
  }
}
.content .main .row_imageUpd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .main .row_imageUpd img {
  display: block;
  margin: 20px auto 0;
}
.content .main .row_bottombox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 54px 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .main .row_title1 {
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 7px;
  letter-spacing: -0.04em;
  color: #000000;
}
.content .main .row_subtitle {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.06em;
  color: #8f92a1;
}
.content .main .row_plusbutt {
  background: transparent;
}
.content .main .row_plusbutt img {
  border-radius: 10px;
  display: block;
  -webkit-box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
          box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
}
.content .main .row_graph img {
  display: block;
  margin: 5px auto 0;
}
.content .main .row_subtitles {
  padding: 3px 19px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .main .row_numberVisitors {
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  color: #272835;
}
.content .main .row_percentsGrowline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .main .row img.arrowup {
  margin: 0;
  display: inline-block;
}
.content .main .row_percentsGrow {
  margin-left: 0px;
  color: #00875a;
  display: inline-block;
  font-weight: bold;
}
.content .main .row_boxminicards {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .main .row_cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px;
}
.content .main .row_playBut {
  width: 42px;
  height: 42px;
  background: white;
  -webkit-box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
          box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
  border-radius: 50%;
}
.content .main .row_playBut img {
  display: block;
  margin: 12px 17px;
}
.content .main .row_numbervideos {
  padding: 15px 0 8px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 14px;
  color: #272835;
}
.content .main .row_videoPlayed {
  height: 138px;
  width: 138px;
}
.content .main .row_numberPosts {
  font-weight: bold;
  font-size: 17px;
  line-height: 14px;
  color: white;
  margin: 26px 0 8px;
}
.content .main .row .--whitetext {
  color: white;
}
.content .main .row_scheduledPosts {
  height: 138px;
  width: 138px;
  border-radius: 20px;
  background-color: #3d41d7;
  -webkit-box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
          box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
}
.content .main .row_scheduledPosts img {
  display: block;
  margin: 6px 0 0px;
}
.content .main .row .--bgwthr {
  background-image: url(/img/main/1.3_background.png);
  border-radius: 20px;
  position: relative;
}
.content .main .row_textbox-weather {
  margin: 36px 0 0 36px;
  color: white;
}
.content .main .row_title2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.06em;
}
.content .main .row_subtitle2 {
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.content .main .row_degrees {
  font-size: 48px;
  line-height: 59px;
}
.content .main .row_buttonbox {
  background: #ffffff;
  -webkit-box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
          box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
  border-radius: 20px 0px 20px 20px;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 7%;
  right: 7%;
}
.content .main .row .--activebut {
  background: #f6faff;
  border: 1px solid #b3b6da;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}
.content .main .row_buttonChoice {
  cursor: pointer;
  width: 130px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: #8f92a1;
}
.content .main .row_buttonChoiceMenu {
  padding: 10px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .main .row_communityImg {
  display: inline-block;
  border-radius: 10px;
}
.content .main .row_communityTextBox {
  display: inline-block;
  padding-left: 15px;
}
.content .main .row_communityReviewBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .main .row_communityRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.content .main .row_communityRow:last-child {
  margin-bottom: 0;
}